//importing files
@import "media";

//variables
$baseFontSize : 16px;

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: $baseFontSize;

  @include phonesPortrait {
    font-size: 3.333vmin;
  }

  @include phonesLandscape {
    font-size: 3.333vmin;
  }
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1140px;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.section__title {
  font-size: rem(36px);
  margin-bottom: rem(20px);
} 

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

.table {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  -ms-grid-columns: repeat(var(--grid-cols), 1fr);
  -ms-grid-rows: repeat(var(--grid-rows), 1fr);
  grid-gap: 0;
  min-width: 620px;

}

.table__item {
  width: 100%;
  height: rem(50px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(10px) rem(5px);
  position: relative;
}

.hidden {
  white-space: nowrap;
  position: absolute;
  left: rem(4px);
  bottom: rem(4px);
  margin-right: rem(10px);
}

.table__input {
  width: 100%;
  border: none;
  text-align: center;
  overflow: hidden;
  font-size: rem(16px);
}

.table__input:focus {
  outline: none;
}

.prices__table {
  margin-bottom: rem(20px);
}

.button {
  background-color: rgb(255, 225, 52);
  color: rgb(218, 15, 15);
  font-size: rem(18px);
  padding: rem(10px) rem(15px);
  border: none;
  cursor: pointer;
  border-radius: rem(10px);
  transition: background-color .3s;
}

.button:hover {
  background-color: rgb(250, 209, 29);
}